@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  /* border: 1px solid red; */
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; /* 15px */
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}

body {
  background: #f8f8f8;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.container {
  background-color: white;
  min-width: 360px;
  min-height: 40vh;
  padding: 2rem;
}

main img {
  width: 100%;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  
  padding: 0 1.5rem;
}

form .input-field {
  display: flex;
  flex-direction: column;
  
  font-size: 0.9rem;
}

.input-field label,
.input-field input {
  padding-left: 0.5rem;
}

form input {
  border: 1px black solid;
  height: 2rem;
  
  margin: 0.5rem 0 1rem;
}

form input[type="submit"] {
  background-color: white;
  height: 3rem;

  cursor: pointer;
  font-size: 0.9rem;
}

form a {
  text-decoration: none;
  font-size: 0.9rem;
}



